.tarjeta{
    

 
    

    margin-left: 30%;
    padding: 20px;
    color: rgb(236, 229, 229);
    $bordetarjeta:solid;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 250px;
    margin: 10px;
    display:flex ;
  
    flex-direction: column;
    justify-content: space-around;
        
        .titulo{
            color: aliceblue;
            text-align: center;
            border-style: solid;
            border-color: rgb(255, 252, 252);
            border-radius: 5px;
        }
            .descripcion{
                color: aliceblue;
                margin-left: 20px;
                justify-items: center;
                text-align: center;
                margin-top: 5px;
            
            }
                .img{
                    width: 100%;
                    border-style: solid;
                    border-color: rgb(244, 242, 242);
                    border-radius: 5px;
                    justify-items: center;
                    text-align: center;
                }
                    .boton{
                        margin: 20px;
                        border-radius: 5px;
                        padding: 10px;
                    }
                

}
